.primary-nav{
    background: #2D2E2E;
    nav {
        
        display:flex;
        flex-direction: row;
        & :first-child{
            padding-left: 10%;
        }
        li {
            list-style: none;
            a {
                color: #fff;
                padding: 20px;
                display: block;
                &.activated{
                    background-color: #00a8ff;
                }
            }                   
        }
    }
}