<h1>{{pacetitle}}</h1>
<div class="pace-wrapper">
    <input class="form-control" type="number" (change)="eventTimeCalc();" [(ngModel)]="minutes" placeholder="minutter">
    <input class="form-control" type="number" (change)="eventTimeCalc();" [(ngModel)]="seconds" placeholder="sekunder">
</div>

<div *ngIf="paceSelected; else noPaceSelected">
    Selected pace was: {{minutes}}:{{seconds}}
</div>
<ng-template #noPaceSelected>
    <div>No pace was selected</div>
</ng-template>

<form class="race-form">
    <select class="custom-select" (change)="selectChangeHandler($event); eventTimeCalc();" placeholder="Events">
        <option *ngFor="let event of events" [value]="event.raceLength">
            {{ event.raceName }}
        </option>
    </select>
</form>
<div>
    The finishing time for the {{selectedValue}} event will be <span style="background-color: orange">{{eventTime}}</span>
</div>
<div class="container">
    <h1>Strava api</h1>
    <p>
      <img src={{athlete?.profile_medium}} >
    </p>

    <p>
      Name: {{ athlete?.firstname }} {{ athlete?.lastname}} <br />
      {{ stats?.all_ride_totals.count }}
    </p>
    <div>{{leaderBoard?.entries[1].moving_time}}</div>
  </div>
