<div class="container">
    <h1>Strava api</h1>
    <p>
        <img src={{athlete?.profile_medium}}>
    </p>

    <p>
        Name: {{ athlete?.firstname }} {{ athlete?.lastname}}
        <br /> Totalt antall løpeturer {{ stats?.all_run_totals.count }}
        <br /> Totalt antall kilometer løpt {{ stats?.all_run_totals.distance/1000 }}
    </p>
    <h3>Grefsenkollen tider</h3>
    <div>
        <div class="col-md-12">
            <div [hidden]="!chart">
                <canvas id="canvas" width="400" height="500">{{ chart }}</canvas>
              </div>
        </div>
    </div>
    <!-- <div *ngFor="let effort of efforts">{{effort.elapsed_time}} </div> -->
</div>
