<div class="container">
    <h1>Strava api</h1>
    <p>
        <img src={{athlete?.profile_medium}}>
    </p>

    <p>
        Name: {{ athlete?.firstname }} {{ athlete?.lastname}}
        <br /> Totalt antall løpeturer {{ stats?.all_run_totals.count }}
        <br /> Totalt antall kilometer løpt {{ stats?.all_run_totals.distance/1000 }}
    </p>
    <h3>Grefsenkollen tider</h3>
    <div>
        <div class="col-md-12">
            <div style="display: block;">
                <canvas baseChart width="400" height="400" *ngIf="lineChartData" [datasets]= "lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
    <!-- <div *ngFor="let effort of efforts">{{effort.elapsed_time}} </div> -->
</div>
