@import './sass/variables';
@import './sass/mixins';
@import './sass/colors';
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

body {
    margin: 0;
    background: $main-background;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}